body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

@media (min-width: 768px) {
    .cronometro{
        width: 50%;
        font-size: 30px;
        text-align: center;
    }
}